<footer class="page_footer ds s-pt-60 s-pb-20 s-pt-lg-100 s-pb-lg-55 c-gutter-40 container-px-md-0 text-center text-md-left">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3" data-animation="fadeInUp">

							<div class="widget widget_text">
								<a href="index.html" class="logo">
									<img src="images/logo.png" alt="">
									<h6 class="kode">Kode<span class="hauz">Hauz</span></h6>
								</a>
								<p>
									When we find your dream, we loose our sleep
								</p>
							</div>
						</div>

						<div class="col-12 col-md-6 col-lg-3 " data-animation="fadeInUp">
							<div class="widget widget_tag_cloud">
								<h3 class="widget-title">Tag</h3>
								<div class="tagcloud">
									<a href="#" class="tag-cloud-link">
										Web Design and Development
									</a>
									<a href="#" class="tag-cloud-link">
										Office Productivity Tools
									</a>
									<a href="#" class="tag-cloud-link">
										Computer Science
									</a>
									<a href="#" class="tag-cloud-link">
										Mobile App Development
									</a>
									<a href="#" class="tag-cloud-link">
										Online Digital Marketing
									</a>
								</div>
							</div>
						</div>


						<div class="col-12 col-md-6 col-lg-3 " data-animation="fadeInUp">
							<div class="widget widget_social_button">
								<h3 class="widget-title">Follow us</h3>
								<a class="facebook" href="#">
									<i class="fa fa-facebook" title="facebook"></i>
									Facebook
								</a>
								<a class="twitter-link" href="#">
									<i class="fa fa-twitter" title="twitter"></i>
									Twitter
								</a>
								<a class="telegram" href="#">
									<i class="fa fa-slack" title="telegram"></i>
									Slack
								</a>
								<a class="linkedin" href="#">
									<i class="fa fa-linkedin" title="linkedin"></i>
									LinkedIn
								</a>
								<a class="instagram" href="#">
									<i class="fa fa-instagram" title="instagram"></i>
									Instagram
								</a>
								<a class="youtube" href="#">
									<i class="fa fa-youtube" title="youtube"></i>
									Youtube
								</a>

							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3 " data-animation="fadeInUp">
							<div class="widget widget_icons_list">
								<h3>Contacts</h3>
								<div class="media side-icon-box">
									<div class="icon-styled fs-14">
										<i class="fa fa-map-marker"></i>
									</div>
									<p class="footer-addy media-body">#38 Afaha Uqua Road, Eket, Akwa Ibom State</p>
								</div>
								<div class="media side-icon-box">
									<div class="icon-styled fs-14">
										<i class="fa fa-phone"></i>
									</div>
									<p class="media-body">Tel.: + (234) 907-646-5505</p>
								</div>
								<div class="media side-icon-box">
									<div class="icon-styled fs-14">
										<i class="fa fa-envelope"></i>
									</div>
									<p class="media-body">
										<a href="#"> info@kodehauz.com</a>
									</p>
								</div>
								<div class="media side-icon-box">
									<div class="icon-styled fs-14">
										<i class="fas fa-user-check"></i>
									</div>
									<p class="media-body">
										<a href="/admin/login"> Contact Administrators</a>
									</p>
								</div>

							</div>
						</div>

					</div>
				</div>

			</footer>


			<section class="page_copyright ds ms s-py-5">
				<div class="container">
					<div class="row align-items-center">
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="col-md-12 text-center">
							<p>&copy; <span class="copyright_year">2019</span> Kodehauz Copyright</p>
						</div>
						<div class="divider-20 d-none d-lg-block"></div>
					</div>
				</div>
			</section>