<!-- NAVBAR
    ================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent bordered-1">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="images/kodehauz-logo.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 1.1em;">
        &times;
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto border-top-0">
        <li class="nav-item ">
          <a class="nav-link nav_size" href="/" aria-haspopup="true" aria-expanded="false">
            Trainings
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link nav_size" href="/internship" aria-haspopup="true" aria-expanded="false">
            KodeHauz Internship
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link nav_size" href="/KodeHauz_Hub" aria-haspopup="true" aria-expanded="false">
            KodeHauz Hub
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link nav_size" href="/trainer" aria-haspopup="true" aria-expanded="false">
            Train The Trainer
          </a>
        </li>

      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-success lift ml-auto trigger-btn" href="#myModal" target="_blank"
        data-toggle="modal">
        Trainee Login
      </a>

    </div>
  </div>
</nav>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Trainee Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">
        <form action="/trainee/profile/login" method="POST">
          <div class="form-group">
            <div class="input-group ">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="email" class="form-control" name="email" placeholder="Email" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
          </div>
          <p class="hint-text"><a href="#">Forgot Password?</a></p>
        </form>
      </div>
      <div class="modal-footer">Don't have an account? <a href="/training_registration">Get Started</a></div>
    </div>
  </div>
</div>