<!-- search modal -->
	{{!-- <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<a href="index.html" class="logo">
			<img src="images/logo.png" alt="">
			<span class="logo-text color-darkgrey">utor</span>
		</a>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="http://webdesign-finder.com/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div> --}}

	{{!-- <div class="modal fade login-form text-center" id="form1" tabindex="-1" role="dialog" aria-labelledby="formlogin" aria-hidden="true">
		<div class="modal-dialog ls">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<div class="modal-header">
					<h6 class="modal-title" id="formlogin">Log In</h6>
					<button type="button" class="btn btn-maincolor btn-sign">Sign Up</button>

				</div>
				<div class="modal-body">
					<div class="form-title">
						<h2>Log In</h2>
						<p>Log in to save your progress and obtain a certificate in Alison’s free Diploma in Web</p>
					</div>
					<form action="http://webdesign-finder.com/">
						<div class="form-group has-placeholder">
							<label for="email-logn">Email:</label>
							<input type="email" class="form-control" id="email-logn" placeholder="Your email adress" name="email-logn">
						</div>
						<div class="form-group has-placeholder">
							<label for="password-login">Password:</label>
							<input type="password" class="form-control" id="password-login" placeholder="Password" name="password">
						</div>
						<div class="social-account">
							<h6>
								or
							</h6>
							<h6>
								Sign up with your Social Account
							</h6>
							<span class="social-icons">
								<a href="#" class="fa fa-facebook " title="facebook"></a>
								<a href="#" class="fa fa-twitter " title="twitter"></a>
								<a href="#" class="fa fa-paper-plane " title="telegram"></a>
								<a href="#" class="fa fa-linkedin " title="linkedin"></a>
								<a href="#" class="fa fa-instagram " title="instagram"></a>
								<a href="#" class="fa fa-youtube-play " title="youtube"></a>
							</span>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="remember">
							<label class="form-check-label" for="remember">
								Keep me logged in
							</label>
						</div>
						<button type="submit" class="btn btn-maincolor log-btn">Log in</button>
					</form>
					<div class="modal-footer">
						Dont have an Tutor account?<button type="button" class="btn-sign">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<!-- Modal -->
	{{!-- <div class="modal fade sigin-form text-center" id="form2" tabindex="-1" role="dialog" aria-labelledby="formsign" aria-hidden="true">
		<div class="modal-dialog ls">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<div class="modal-header">
					<button type="button" class="btn btn-maincolor btn-login">Log in</button>
					<h6 class="modal-title" id="formsign">Sign Up</h6>
				</div>
				<div class="modal-body">
					<div class="form-title">
						<h2>Sign up</h2>
						<p>Sign up to save your progress and obtain a certificate in Alison’s free Diploma in Web</p>
					</div>
					<form action="http://webdesign-finder.com/">
						<div class="form-group has-placeholder">
							<label for="name-sigin">Your Name:</label>
							<input type="text" class="form-control" id="name-sigin" placeholder="Enter your name" name="First name">
						</div>
						<div class="form-group has-placeholder">
							<label for="sigemail">Email:</label>
							<input type="email" class="form-control" id="sigemail" placeholder="Your email adress" name="sigemail">
						</div>
						<div class="form-group has-placeholder">
							<label for="sigpassword">Password:</label>
							<input type="password" class="form-control" id="sigpassword" placeholder="password" name="sigpassword">
						</div>
						<div class="social-account">
							<h6>
								or
							</h6>
							<h6>
								Sign up with your Social Account
							</h6>
							<span class="social-icons">
								<a href="#" class="fa fa-facebook " title="facebook"></a>
								<a href="#" class="fa fa-twitter " title="twitter"></a>
								<a href="#" class="fa fa-paper-plane " title="telegram"></a>
								<a href="#" class="fa fa-linkedin " title="linkedin"></a>
								<a href="#" class="fa fa-instagram " title="instagram"></a>
								<a href="#" class="fa fa-youtube-play " title="youtube"></a>
							</span>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="agree">
							<label class="form-check-label agree" for="agree">
								I agree to the Terms and Conditions
							</label>
							<input class="form-check-input" type="checkbox" id="updates">
							<label class="form-check-label" for="updates">
								Yes, I want to get the most out of Tutor by receiving tips, updates and exclusive offers.
							</label>
						</div>
						<button type="submit" class="btn btn-maincolor btn-sign">Sign In</button>
					</form>
					<div class="modal-footer">
						Already have an Alison account?<button type="button" class="btn-login">Log In</button>
					</div>
				</div>
			</div>
		</div>
	</div> --}}


	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->
			<!--topline section visible only on small screens|-->
			<section class="page_topline ds c-my-10 d-xl-none">
				<div class="container-fluid">
					<div class="row align-items-center text-center">
						<div class="col-12">
							<div class="top-includes main-includes">
								<button type="button" class="sign-btn-form" data-toggle="modal" data-target="#form2">
									Sign Up
								</button>
								<button type="button" class="login-btn-form login_modal_window" data-toggle="modal" 
									data-target="#form1">Login
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--eof topline-->
			<div class="header_absolute ds cover-background s-overlay">
				<!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
				<header class="page_header ds justify-nav-center s-borderbottom container-px-20">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-4 col-md-5 col-11">
								<a href="index.html" class="logo">
									<img src="images/logo.png" alt="">
									<h1 class="logo-text color-darkgrey">Kode<span class="hauz">Hauz</span></h1>
								</a>
							</div>
							<div class="col-xl-6 col-lg-8 col-md-7 col-1">
								<div class="nav-wrap">
									<!-- main nav start -->
									<nav class="top-nav">
										<ul class="nav sf-menu">

											<li class="">
												<a href="index-2.html">Trainings</a>
											</li>
											<li>
												<a href="about.html">Kodehauz Hub</a>
											</li>
											<!-- eof pages -->

											<!-- blog -->
											<li>
												<a href="blog-right.html">Train the Trainer</a>
												<ul>
													<li>
														<a href="blog-right.html"></a>
													</li>
													<li>
														<a href="blog-left.html">Web Design and Development</a>
													</li>
													<li>
														<a href="blog-full.html">Office Productivity Tools</a>
													</li>
													<li>
														<a href="blog-grid.html">Computer Science</a>
													</li>
													<li>
														<a href="blog-grid.html">Mobile Application Development</a>
													</li>
													<li>
														<a href="blog-grid.html">Online Digital Marketing</a>
													</li>
												</ul>
											</li>
											<!-- eof blog -->
										</ul>
									</nav>
								</div>
							</div>
							<div class="col-4 d-none d-xl-block">
								<div class="top-includes main-includes">
									<button type="button" class="sign-btn-form" data-toggle="modal" 
										data-target="#form2">Sign Up
									</button>
									<button type="button" class="login-btn-form login_modal_window" 
										data-toggle="modal" data-target="#form1">Login
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- header toggler -->
					<span class="toggle_menu"><span></span></span>
				</header>
			</div>

			<section class="page_slider ds">
				<span class="flexslider-overlay"></span>
				<img src="images/training-hub.jpg" alt="">
				<div class="container">
					<div class="divider-15 d-none d-lg-block d-xl-none"></div>
					<div class="row align-items-center">
						<div class="col-md-7">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer">
										{{!-- <h6 class="intro_before_featured_word" data-animation="fadeInUp">
											Empower Yourself
										</h6> --}}
										<h2 class="intro_featured_word" data-animation="fadeInUp">
											Empowering the next billion users
										</h2>
										<p class="intro_after_featured_word" data-animation="fadeInUp">
											In learning you teach and in teaching you learn
										</p>
									</div>
									
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
						<div class="col-md-5">
							<div class="intro_layers_wrapper icon-layer">
								<div class="intro_layers">
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32 itia poumbnail">
											<i class="icon-m-technology" aria-hidden="true"></i>
										</div>
										<p>
											Web Design and Development
										</p>
									</a>
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-language" aria-hidden="true"></i>
										</div>
										<p>
											Office Productivity Tools
										</p>

									</a>
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-science" aria-hidden="true"></i>
										</div>
										<p>
											Computer Science
										</p>
									</a>
								</div> <!-- eof .intro_layers -->
								<div class="intro_layers">
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-business" aria-hidden="true"></i>
										</div>
										<p>
											Mobile Application Development
										</p>
									</a>
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-marketing" aria-hidden="true"></i>
										</div>
										<p>
											Online Digital Marketing
										</p>
									</a>
									{{!-- <a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-health" aria-hidden="true"></i>
										</div>
										<p>
											Health
										</p>
									</a>
								</div> <!-- eof .intro_layers -->
								<div class="intro_layers">
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-humanities" aria-hidden="true"></i>
										</div>
										<p>
											Humanities
										</p>
									</a>
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-math" aria-hidden="true"></i>
										</div>
										<p>
											Math
										</p>
									</a>
									<a href="course-categories.html" class="icon-box text-center bordered rounded" data-animation="moveFromLeft">
										<div class="color-main icon-styled fs-32">
											<i class="icon-m-lifestyle" aria-hidden="true"></i>
										</div>
										<p>
											Lifestyle
										</p>
									</a> --}}
								</div> <!-- eof .intro_layers -->
							</div>
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container-fluid -->
			</section>


			{{!-- <section class="ls s-pt-55 s-pb-30 s-pt-lg-95 s-pb-lg-70" id="courses">
				<div class="container">
					<div class="divider-3"></div>
					<div class="row">
						<div class="col-lg-12">
							<h6 class="special-heading fw-300 text-center">Empower Yourself</h6>
							<h2 class="text-center">Popular courses</h2>
							<div class="row justify-content-center">
								<div class="col-md-10 col-xl-7">
									<div class="filters course-filters text-lg-right">
										<a href="#" data-filter="*" class="active selected">Trending now</a>
										<a href="#" data-filter=".popular">Most Popular</a>
										<a href="#" data-filter=".resent">Most Recent</a>
										<a href="#" data-filter=".certified">Most Certified</a>
									</div>
								</div>
							</div>
							<div class="row isotope-wrapper c-mb-30" data-filters=".course-filters">
								<div class="col-12 col-md-6 col-lg-4 popular">
									<div class="course-flip h-100 ">
										<div class="course-front rounded bordered">
											<div class=" vertical-item content-padding">
												<div class="item-media rounded-top">
													<img src="images/courses/01.jpg" alt="">
												</div>
												<div class="item-content">
													<h6 class="course-title">
														<a href="single-course.html">Diploma in Basic English Grammar</a>
													</h6>

													<div class="star-rating course-rating">
														<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
													</div>

													<div class="tagcloud">
														<a href="#" class="tag-cloud-link">
															Technology
														</a>
														<a href="#" class="tag-cloud-link">
															Humanities
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="course-back rounded vertical-item content-padding ds">
											<div class="item-content">
												<h6 class="course-title">
													<a href="single-course.html">Diploma in Basic English Grammar</a>
												</h6>
												<p>
													Learn about corporate governance of organizations: internal and external factors
												</p>
												<div class="star-rating course-rating">
													<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<div class="divider-48"></div>
												<a href="#" class="btn btn-maincolor">Start now</a>
												<div class="tagcloud">
													<a href="#" class="tag-cloud-link">
														Technology
													</a>
													<a href="#" class="tag-cloud-link">
														Humanities
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 popular">
									<div class="course-flip h-100">
										<div class="course-front rounded bordered">
											<div class="vertical-item content-padding">
												<div class="item-media rounded-top">
													<img src="images/courses/02.jpg" alt="">
												</div>
												<div class="item-content">
													<h6 class="course-title">
														<a href="single-course.html">Diploma in Legal Studies - Revised 2017</a>
													</h6>

													<div class="star-rating course-rating">
														<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
													</div>
													<div class="tagcloud">
														<a href="#" class="tag-cloud-link">
															Marketing
														</a>
														<a href="#" class="tag-cloud-link">
															Lifestyle
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="course-back rounded vertical-item content-padding ds">
											<div class="item-content">
												<h6 class="course-title">
													<a href="single-course.html">Diploma in Legal Studies - Revised 2017</a>
												</h6>
												<p>
													Learn about corporate governance of organizations: internal and external factors
												</p>
												<div class="star-rating course-rating">
													<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<div class="divider-48"></div>
												<a href="#" class="btn btn-maincolor">Start now</a>
												<div class="tagcloud">
													<a href="#" class="tag-cloud-link">
														Marketing
													</a>
													<a href="#" class="tag-cloud-link">
														Lifestyle
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 resent">
									<div class="course-flip h-100">
										<div class="course-front rounded bordered">
											<div class="vertical-item content-padding">
												<div class="item-media rounded-top">
													<img src="images/courses/03.jpg" alt="">
												</div>
												<div class="item-content">
													<h6 class="course-title">
														<a href="single-course.html">Working with Students with Special Educational Needs</a>
													</h6>

													<div class="star-rating course-rating">
														<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
													</div>

													<div class="tagcloud">
														<a href="#" class="tag-cloud-link">
															Language
														</a>
														<a href="#" class="tag-cloud-link">
															Science
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="course-back rounded vertical-item content-padding ds">
											<div class="item-content">
												<h6 class="course-title">
													<a href="single-course.html">Working with Students with Special Educational Needs</a>
												</h6>
												<p>
													Learn about corporate governance of organizations: internal and external factors
												</p>
												<div class="star-rating course-rating">
													<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<div class="divider-48"></div>
												<a href="#" class="btn btn-maincolor">Start now</a>
												<div class="tagcloud">
													<a href="#" class="tag-cloud-link">
														Language
													</a>
													<a href="#" class="tag-cloud-link">
														Science
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 resent">
									<div class="course-flip h-100">
										<div class="course-front rounded bordered">
											<div class="vertical-item content-padding">
												<div class="item-media rounded-top">
													<img src="images/courses/04.jpg" alt="">
												</div>
												<div class="item-content">
													<h6 class="course-title">
														<a href="single-course.html">Introduction to Human Nutrition</a>
													</h6>

													<div class="star-rating course-rating">
														<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
													</div>

													<div class="tagcloud">
														<a href="#" class="tag-cloud-link">
															Science
														</a>
														<a href="#" class="tag-cloud-link">
															Business
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="course-back rounded vertical-item content-padding ds">
											<div class="item-content">
												<h6 class="course-title">
													<a href="single-course.html">Introduction to Human Nutrition</a>
												</h6>
												<p>
													Learn about corporate governance of organizations: internal and external factors
												</p>
												<div class="star-rating course-rating">
													<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<div class="divider-48"></div>
												<a href="#" class="btn btn-maincolor">Start now</a>
												<div class="tagcloud">
													<a href="#" class="tag-cloud-link">
														Science
													</a>
													<a href="#" class="tag-cloud-link">
														Business
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 certified">
									<div class="course-flip h-100">
										<div class="course-front rounded bordered">
											<div class="vertical-item content-padding">
												<div class="item-media rounded-top">
													<img src="images/courses/05.jpg" alt="">
												</div>
												<div class="item-content">
													<h6 class="course-title">
														<a href="single-course.html">Skills for Speaking Effectively: The Art of Speaking</a>
													</h6>

													<div class="star-rating course-rating">
														<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
													</div>

													<div class="tagcloud">
														<a href="#" class="tag-cloud-link">
															Humanities
														</a>
														<a href="#" class="tag-cloud-link">
															Language
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="course-back rounded vertical-item content-padding ds">
											<div class="item-content">
												<h6 class="course-title">
													<a href="single-course.html">Skills for Speaking Effectively: The Art of Speaking</a>
												</h6>
												<p>
													Learn about corporate governance of organizations: internal and external factors
												</p>
												<div class="star-rating course-rating">
													<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<div class="divider-48"></div>
												<a href="#" class="btn btn-maincolor">Start now</a>
												<div class="tagcloud">
													<a href="#" class="tag-cloud-link">
														Humanities
													</a>
													<a href="#" class="tag-cloud-link">
														Language
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 certified">
									<div class="course-flip h-100">
										<div class="course-front rounded bordered">
											<div class="vertical-item content-padding">
												<div class="item-media rounded-top">
													<img src="images/courses/06.jpg" alt="">
												</div>
												<div class="item-content">
													<h6 class="course-title">
														<a href="single-course.html">General Data Protection Regulation (GDPR)</a>
													</h6>

													<div class="star-rating course-rating">
														<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
													</div>

													<div class="tagcloud">
														<a href="#" class="tag-cloud-link">
															Technology
														</a>
														<a href="#" class="tag-cloud-link">
															Lifestyle
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="course-back rounded vertical-item content-padding ds">
											<div class="item-content">
												<h6 class="course-title">
													<a href="single-course.html">General Data Protection Regulation (GDPR)</a>
												</h6>
												<p>
													Learn about corporate governance of organizations: internal and external factors
												</p>
												<div class="star-rating course-rating">
													<span style="width:91.5%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<div class="divider-48"></div>
												<a href="#" class="btn btn-maincolor">Start now</a>
												<div class="tagcloud">
													<a href="#" class="tag-cloud-link">
														Technology
													</a>
													<a href="#" class="tag-cloud-link">
														Lifestyle
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> --}}


			{{!-- <section class="ds s-py-60 s-py-lg-100 call-to-action s-parallax s-overlay text-center text-lg-left" id="action">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8 col-xl-6">
							<h6 class="special-heading fw-300">Personable Virtual Assistants</h6>
							<h2>Don't just take our</h2>
							<div class="divider-35 d-none d-md-block"></div>
							<p class="mt-20 mb-20">
								We are proud to say that since our opening in ’98 we have been serving our visitors in the best possible way. In Hotel Nanovi, where each one of
							</p>
							<div class="divider-43 d-none d-md-block"></div>
							<a href="#" class="btn btn-maincolor">Find Courses</a>
						</div>
					</div>
				</div>
			</section> --}}

			<section class="ls s-pt-60 s-pb-10 s-pt-lg-100 s-pb-lg-30 c-gutter-10 c-mb-20 category-section" id="categories">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h6 class="special-heading fw-300 text-center">Empower Yourself</h6>
							<h2 class="text-center">Popular categories</h2>
						</div>
						<div class="divider-10 d-none d-lg-block"></div>
						<div class="col-lg-4 col-sm-6 " data-animation="fadeInUp">
							<div class="icon-box text-center">
								<div class="color-main icon-styled fs-77">
									<i class="fa fa-bitbucket" aria-hidden="true"></i>
								</div>
								<h6 class="fw-700">
									<a href="single-course.html">Web Design and Development</a>
								</h6>
								<p>
									Lorem ipsum dolor sit amet, contetur adipiscing diam
								</p>
							</div>
							<span class="media-links">
								<a class="abs-link" title="" href="course-categories.html"></a>
							</span>
						</div><!-- .col-* -->
						<div class="col-lg-4 col-sm-6 " data-animation="fadeInUp">

							<div class="icon-box text-center">
								<div class="color-main icon-styled fs-77">
									<i class="fa fa-leanpub" aria-hidden="true"></i>
								</div>
								<h6 class="fw-700">
									<a href="single-course.html">Office Productivity Tools</a>
								</h6>
								<p>
									Phasellus porttitor justo elit, ac tempus ligula sodales
								</p>
							</div>
							<div class="media-links">
								<a class="abs-link" title="" href="course-categories.html"></a>
							</div>
						</div><!-- .col-* -->
						<div class="col-lg-4 col-sm-6 " data-animation="fadeInUp">

							<div class="icon-box text-center">
								<div class="color-main icon-styled fs-77">
									<i class="fa fa-android" aria-hidden="true"></i>
								</div>

								<h6 class="fw-700">
									<a href="single-course.html"> Computer Science</a>
								</h6>

								<p>
									Nunc vehicula metus et massa tincidunt ultrices tincidunt
								</p>


							</div>
							<div class="media-links">
								<a class="abs-link" title="" href="course-categories.html"></a>
							</div>
						</div><!-- .col-* -->
						<div class="col-lg-4 col-sm-6 " data-animation="fadeInUp">

							<div class="icon-box text-center">
								<div class="color-main icon-styled fs-77">
									<i class="fa fa-drupal" aria-hidden="true"></i>
								</div>

								<h6 class="fw-700">
									<a href="single-course.html">Mobile Application Development</a>
								</h6>
								<p>
									Curabitur pretium elit mi, non sollicitudin massa ac
								</p>
							</div>
							<div class="media-links">
								<a class="abs-link" title="" href="course-categories.html"></a>
							</div>
						</div><!-- .col-* -->
						<div class="col-lg-4 col-sm-6 " data-animation="fadeInUp">

							<div class="icon-box text-center">
								<div class="color-main icon-styled fs-77">
									<i class="fa fa-empire" aria-hidden="true"></i>
								</div>

								<h6 class="fw-700">
									<a href="single-course.html">Online Digital Marketing</a>
								</h6>
								<p>
									In porta urna risus, ut imperdiet nisl condimentum lobortis
								</p>
							</div>
							<div class="media-links">
								<a class="abs-link" title="" href="course-categories.html"></a>
							</div>
						</div><!-- .col-* -->
						<div class="col-lg-4 col-sm-6 " data-animation="fadeInUp">

							<div class="icon-box text-center">
								<div class="color-main icon-styled fs-77">
									<i class="fa fa-apple" aria-hidden="true"></i>
								</div>

								<h6 class="fw-700">
									<a href="single-course.html">Embedded systems</a>
								</h6>

								<p>
									Sed pellentesque pulvinar arcu ac congue. Sed sed est nec
								</p>


							</div>
							<div class="media-links">
								<a class="abs-link" title="" href="course-categories.html"></a>
							</div>
						</div><!-- .col-* -->
						<div class="d-none d-lg-block divider-20"></div>
					</div>

				</div>
			</section>

			{{!-- <section id="section_testimonials" class="s-pt-60 s-pb-55 s-pt-lg-100 s-pb-lg-95 ls ms">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="testimonials-slider owl-carousel" data-autoplay="true" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false" data-dots="false">
								<div class="quote-item">
									<div class="quote-image">
										<img src="images/team/testimonials_01.jpg" alt="">
									</div>
									<p>
										<em class="big">
											I met so many interesting people over the last couple of months, who proved to stay ahead of the modern technologies in the world of branding and web design. I loved working with you all, thank you so much!
										</em>
									</p>
									<img src="images/quote.png" alt="">
									<h6 class="quote-meta fw-700">
										Keith M. Jordan
									</h6>
									<p>Applied Researcher</p>
								</div>
								<div class="quote-item">
									<div class="quote-image">
										<img src="images/team/testimonials_02.jpg" alt="">
									</div>
									<p>
										<em class="big">
											I am inspired by the UN Declaration that “everyone is entitled to a free education”. We are committed to equality and access to education irrespective of gender, geography, economic status or any other barriers to access.
										</em>
									</p>
									<img src="images/quote.png" alt="">
									<h6 class="quote-meta fw-700">
										Ron M. Martin
									</h6>
									<p>Applied Researcher</p>
								</div>
								<div class="quote-item">
									<div class="quote-image">
										<img src="images/team/testimonials_03.jpg" alt="">
									</div>
									<p>
										<em class="big">
											I am drive by our belief in the power of free education and skills training to change people’s lives for the better and are passionate about providing an overall learning experience that meets their needs and helps them to achieve life goals.
										</em>
									</p>
									<img src="images/quote.png" alt="">
									<h6 class="quote-meta fw-700">
										Thelma R. Furman
									</h6>
									<p>Autor courses</p>
								</div>

							</div><!-- .testimonials-slider -->

						</div>
					</div>
				</div>
			</section> --}}

			<section class="advert-content ds ms s-pt-60 s-pb-20 s-pt-lg-125 s-pb-lg-130 c-gutter-100 c-mb-40 c-mb-md-0 video-section text-center text-md-left" id="video">
				<div class="cover-image s-cover-left"></div><!-- half image background element -->
				<div class="container thumbnail-container">
					<div class="divider-45 d-none d-lg-block"></div>
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="embed-responsive embed-responsive-3by2">
								<a href="#" >
									<img class="thumbnail-container-img" src="images/video-image.jpg" alt="">
								</a>
							</div>
							<div class="item-media post-thumbnail">
								
							</div><!-- .post-thumbnail -->
						</div>
						<div class="col-md-6">
							<div class="item-content">
								<h6 class="special-heading fw-300">Personable Virtual Assistants</h6>
								<h2 class="msg-overlay">Don't just take our</h2>
								{{!-- <div class="d-none d-lg-block divider-38"></div> --}}
								{{!-- <p class="">We are proud to say that since our opening in ’98 we have been serving 
									our visitors in the best possible way. In Hotel Nanovi, where 
								</p> --}}
								{{!-- <div class="d-none d-lg-block divider-43"></div> --}}
								<a href="#" class="btn btn-maincolor">Find courses</a>
							</div>
						</div>
					</div>
					<div class="divider-40 d-none d-md-block"></div>
				</div>
			</section>

			{{!-- <section class="ls s-pt-60 s-pb-50 s-py-lg-100 partners-section" id="partners">
				<div class="container">
					<div class="row">
						<div class="col-4 col-md-2">
							<a href="#">
								<img src="images/partners/06.jpg" alt="">
							</a>
						</div>
						<div class="col-4 col-md-2">
							<a href="#">
								<img src="images/partners/05.jpg" alt="">
							</a>
						</div>
						<div class="col-4 col-md-2">
							<a href="#">
								<img src="images/partners/04.jpg" alt="">
							</a>
						</div>
						<div class="col-4 col-md-2">
							<a href="#">
								<img src="images/partners/03.jpg" alt="">
							</a>
						</div>
						<div class="col-4 col-md-2">
							<a href="#">
								<img src="images/partners/02.jpg" alt="">
							</a>
						</div>
						<div class="col-4 col-md-2">
							<a href="#">
								<img src="images/partners/01.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</section> --}}

			


		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->