<div class="header_absolute ds cover-background s-overlay">
				<!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
				<header class="page_header ds justify-nav-center s-borderbottom container-px-20">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-4 col-md-5 col-11">
								<a href="index.html" class="logo">
									<img src="images/logo.png" alt="">
									<h1 class="logo-text color-darkgrey">Kode<span class="hauz">hauz</span></h1>
								</a>
							</div>
							<div class="col-xl-6 col-lg-8 col-md-7 col-1">
								<div class="nav-wrap">
									<!-- main nav start -->
									<nav class="top-nav">
										<ul class="nav sf-menu">

											<li class="">
												<a href="index-2.html">Trainings</a>
											</li>
											<li>
												<a href="about.html">Kodehauz Hub</a>
											</li>
											<!-- eof pages -->

											<!-- blog -->
											<li>
												<a href="blog-right.html">Train the Trainer</a>
												<ul>

													<li>
														<a href="blog-right.html"></a>
													</li>
													<li>
														<a href="blog-left.html">Web Development</a>
													</li>
													<li>
														<a href="blog-full.html">Office Tools</a>
													</li>
													<li>
														<a href="blog-grid.html">Computer Science</a>
													</li>
													<li>
														<a href="blog-grid.html">Mobile Development</a>
													</li>
													<li>
														<a href="blog-grid.html">Online Digital Marketing</a>
													</li>
												</ul>
											</li>
											<!-- eof blog -->
										</ul>
									</nav>
								</div>
							</div>
                            <div class="col-4 d-none d-xl-block">
                                <div class="top-includes main-includes">
                                    <button type="button" class="sign-btn-form" data-toggle="modal" data-target="#form2">
                                        <i class="fw-900 s-16 fa fa-sign-in" aria-hidden="true"></i>Sign Up
                                    </button>
                                    <button type="button" class="login-btn-form login_modal_window" data-toggle="modal"
                                    data-target="#form1"><i class="fs-16 fa fa-user" aria-hidden="true"></i>Login
                                    </button>
                                </div>
                            </div>  
						</div>
						</div>
					</div>
					<!-- header toggler -->
					<span class="toggle_menu"><span></span></span>
				</header>
			</div>