<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    {{> header }}

    <div class="container">

        {{!-- <div class="d-flex justify-content-center mt-12 mb-3">
            <h4 class="alert alert-danger">Only Admin Users can Gain Access</h4>
        </div> --}}

        <div class="row d-flex justify-content-center my-12">
            <div class="col-md-5 bordered-0 shadow">
                <div class="card px-5">
                    <h2 class="text-center text-success pt-9 pb-4">Admin Login Access</h2>
                    
                    <form action="/admin/login" method="POST" >
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <div class="input-group ">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success ">Sign In</button>
                            </div>
                            <div class="d-flex justify-content-space-between">
                                <p>No Account <a href="/signUp" style="color: green;">Sign Up Here!!</a></p>
                                <p class="text-success text-center"><a href="#">Forgot Password?</a></p>
                            </div>
                            
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>