<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
   <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor/datatables.min.css">
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/vendor/lite-purple.min.css">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{> dashboard_nav }}


  <script src="js/jquery-3.3.1.min.js"></script>
  {{!-- <script src="assets/js/vendor/bootstrap.bundle.min.js"></script> --}}
  <script src="js/perfect-scrollbar.min.js"></script>
  <script src="js/echarts.min.js"></script>
  <script src="js/datatables.mijs"></script>
  <script src="js/echart.options.min.js"></script>
  <script src="js/dashboard.v2.script.min.js"></script>
  <script src="js/script.min.js"></script>
  {{!-- <script src="js/theme.min.js"></script> --}}
</body>

</html>
