<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
</head>

<body>
  {{> header}}


  <!-- WELCOME
    ================================================== -->
  <section class="pt-4 pt-md-11 mt-md-6 mb-md-12">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">

          <!-- Image -->
          <img src="images/b2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up"
            data-aos-delay="100">

        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

          <!-- Heading -->
          <h1 class="display-3 text-center text-md-left">
            Welcome to <span class="green-color">KodeHauz Training Portal</span>. <br>
            Empower Yourself.
          </h1>

          <!-- Text -->
          <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
            Try any of our Packages where you experience World-Class Training and Growth in your choice of Discipline
          </p>

          <!-- Buttons -->
          <div class="text-center text-md-left">
            <a href="/training_registration" class="btn btn-success shadow lift mr-1">
              Get Started<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
            </a>

          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <hr>

  <!-- FEATURES
    ================================================== -->
  <div class="categories d-flex justify-content-center py-4 border-top" data-aos="fade-up">
    <h1 style="color: #28a745; font-size: 4.1em; font-weight: 500px;">Courses<h1>
  </div>
  <section class="py-8 py-md-8 border-bottom ">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-md-4" data-aos="fade-up">

          <!-- Icon -->
          <div class="icon  text-center green-color mb-3">
            <i class="fa fa-code fa-5x "></i>
          </div>

          <!-- Heading -->
          <h3 class=" text-center">
            Web Design & Development
          </h3>

          <!-- Text -->
          <p class="text-muted mb-6 mb-md-0">
           We Train you to build Websites for the next Billion Users, secured and productive tools using robust coding structure and standards.
          </p>

        </div>

        <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

          <!-- Icon -->
          <div class="icon  text-center green-color mb-3">
            <i class="fa fa-mobile fa-5x"></i>
          </div>

          <!-- Heading -->
          <h3 class=" text-center">
            Mobile App Development
          </h3>

          <!-- Text -->
          <p class="text-muted mb-6 mb-md-0">
            We Train Mobile App Developers and build Trainees to become Andriod experts.
          </p>

        </div>
        <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

          <!-- Icon -->
          <div class="icon green-color text-center mb-3">
            <i class="fas fa-robot fa-5x"></i>
          </div>

          <!-- Heading -->
          <h3>
            Electronics/Embedded Systems
          </h3>

          <!-- Text -->
          <p class="text-muted mb-0">
           We specialize in building intelligent systems on electronic hardware to provide solutions to daily problems in our society.
          </p>

        </div>
      </div> <!-- / .row -->

      <div class="row pb-12 pt-8">
        <div class="col-12 col-md-4 " data-aos="fade-up">

          <!-- Icon -->
          <div class="icon green-color mb-3">
            <i class="fa fa-tv fa-5x"></i>
          </div>

          <!-- Heading -->
          <h3>
            Computer Science
          </h3>

          <!-- Text -->
          <p class="text-muted mb-6 mb-md-0">
              We Train and empower Trainees on Computer Application and alogorithms while sharing the innovations built with it.
          </p>

        </div>

        <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

          <!-- Icon -->
          <div class="icon green-color mb-3">
            <i class="fas fa-ad fa-5x"></i>
          </div>

          <!-- Heading -->
          <h3>
            Online Digital Marketing
          </h3>

          <!-- Text -->
          <p class="text-muted mb-6 mb-md-0">
           Through great strategies, KodeHauz provides innovative channels for enterprising organizations and aspiring individuals.
          </p>

        </div>
        <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

          <!-- Icon -->
          <div class="icon green-color mb-3">
            <i class="fab fa-microsoft fa-5x"></i>
          </div>

          <!-- Heading -->
          <h3>
            Office Productivity Tools
          </h3>

          <!-- Text -->
          <p class="text-muted mb-0">
           We explore Microsoft Office Tools like Word, Excel and Power Point. We offer Real Time Training on them.
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>



  <!-- ABOUT
    ================================================== -->
  <section class="pt-8 pt-md-11 bg-success-light">
    <div class="container">
      <div class="row align-items-center justify-content-between mb-8 mb-md-11">
        <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

          <!-- Heading -->
          <h2>
            KodeHauz Training Halls <br>
            <span class="text-success">It was established for <span data-toggle="typed"
                data-strings='["developers.", "Comfort.", "designers."]'></span></span>
          </h2>

          <!-- Text -->
          <p class="font-size-lg text-muted mb-6">
            Using KodeHauz Training Halls Create a First-Hand connection with Great Developers who are willing to share their experience. We Offer the following:
          </p>

          <!-- List -->
          <div class="row">
            <div class="col-12 col-lg-6">

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="text-success">
                  Mentorship 
                </p>

              </div>

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </div>

                <p class="text-success mb-lg-0">
                  Trainings
                </p>

              </div>

            </div>
            <div class="col-12 col-lg-6 mb-6 mb-md-0">

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                </span>

                <!-- Text -->
                <p class="text-success">
                  Internet Support
                </p>

              </div>

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="text-success mb-0">
                  Technology Community
                </p>

              </div>

            </div>
          </div> <!-- / .row -->

        </div>
        <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">

          <!-- Card -->
          <div class=" shadow-light-lg lift lift-lg">

            <!-- Image -->
            <img src="images/illustration-2.png" alt="..." class="card-img-top">

            <!-- Shape -->
            <div class="position-relative">
              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor" />
                </svg>

              </div>
            </div>



          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>



  <!-- CTA
    ================================================== -->
  <section class=" mt-12 py-8 py-md-11 bg-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Badge -->
          <span class="badge badge-pill badge-gray-700-soft mb-4">
            <span class="h6 font-weight-bold text-uppercase">Get started</span>
          </span>

          <!-- Heading -->
          <h1 class="display-4 text-white">
            Join The KodeHauz Train The Trainer Programmes
          </h1>

          <!-- Text -->
          <p class="font-size-lg text-muted mb-6 mb-md-8">
            When You Train You Learn As Well, So Why Not Build Yourself Today, With One Single Click
          </p>

          <!-- Button -->
          <a href="/training_registration" class="btn btn-success lift">
            Click Me!!<i class="fe fe-arrow-right"></i>
          </a>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- SHAPE
    ================================================== -->
  <div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
      <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor" />
      </svg>

    </div>
  </div>


  {{> footer}}
</body>

</html>