<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    {{> header}}


			 <!-- WELCOME
    ================================================== -->
    <section class="pt-4 pt-md-11 mt-md-6 mb-md-12">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">
            
            <!-- Image -->
            <img src="images/illustration-8.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
            
            <!-- Heading -->
            <h1 class="display-3 text-center text-md-left">
              Welcome to <span style="color: #28a745;">KodeHauz Training Portal</span>. <br>
              Empower Yourself.
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
              Try any of our Packages where you experience World-Class Training and Growth in your choice of Discipline
            </p>
                
            <!-- Buttons -->
            <div class="text-center text-md-left">
              <a href="/training_registration" class="btn btn-success shadow lift mr-1">
                Get Started<i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
              </a>
              
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

	<hr  >

    <!-- FEATURES
    ================================================== -->
	<div class="categories d-flex justify-content-center py-4 border-top" data-aos="fade-up">
		<h1 style="color: #28a745; font-size: 4.1em; font-weight: 500px;">Courses<h1>
	</div>
    <section class="py-8 py-md-11 border-bottom ">
      <div class="container text-center" >
        <div class="row">
          <div class="col-12 col-md-4" data-aos="fade-up">
            
            <!-- Icon -->
            <div class="icon  text-center text-success mb-3">
				<i class="fa fa-check"></i>
            </div>

            <!-- Heading -->
            <h3 class=" text-center">
              Web Design & Development
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Landkit is built to make your life easier. Variables, build tooling, documentation, and reusable components.
            </p>

          </div>

          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon  text-center text-success mb-3">
				<i class="fa fa-check"></i>
            </div>

            <!-- Heading -->
            <h3 class=" text-center">
              Mobile App Development
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Designed with the latest design trends in mind. Landkit feels modern, minimal, and beautiful.
            </p>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
              
            <!-- Icon -->
            <div class="icon text-success text-center mb-3">
				<i class="fa fa-check"></i>
            </div>

            <!-- Heading -->
            <h3>
             Electronics/Embedded Systems
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row py-12">
          <div class="col-12 col-md-4 " data-aos="fade-up">
            
            <!-- Icon -->
            <div class="icon text-success mb-3">
				<i class="fa fa-check"></i>
            </div>

            <!-- Heading -->
            <h3>
             Computer Science
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Landkit is built to make your life easier. Variables, build tooling, documentation, and reusable components.
            </p>

          </div>

          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon text-success mb-3">
				<i class="fa fa-check"></i>
            </div>

            <!-- Heading -->
            <h3>
              Online Digital Marketing
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Designed with the latest design trends in mind. Landkit feels modern, minimal, and beautiful.
            </p>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
              
            <!-- Icon -->
            <div class="icon text-success mb-3">
				<i class="fa fa-check"></i>
            </div>

            <!-- Heading -->
            <h3>
              Office Productivity Tools
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

   

    <!-- ABOUT
    ================================================== -->
    <section class="pt-8 pt-md-11 bg-gradient-light">
      <div class="container">
        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">
            
            <!-- Heading -->
            <h2>
              KodeHauz Training Halls <br>
              <span class="text-success">It was established for <span data-toggle="typed" data-strings='["developers.", "Comfort.", "designers."]'></span></span>
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>

            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">
                
                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <!-- Text -->
                  <p class="text-success">
                    Lifetime updates
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <p class="text-success mb-lg-0">
                    Tons of assets
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </span>
                  
                  <!-- Text -->
                  <p class="text-success">
                    Tech support
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <!-- Text -->
                  <p class="text-success mb-0">
                    Integration ready
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">
            
            <!-- Card -->
            <div class=" shadow-light-lg lift lift-lg">
              
              <!-- Image -->
              <img src="images/illustration-2.png" alt="..." class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor"/>
                  </svg>

                </div>
              </div>

             

            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center">
          <div class="col-12 col-md-7 col-lg-6" data-aos="fade-right">
            
            <!-- Heading -->
            <h2>
              We have lots of experience <br>
              <span class="text-primary">building Bootstrap themes</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6">
              We've built well over a dozen Bootstrap themes and sold tens of thousands of copies. 
            </p>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Icon -->
              <div class="icon text-primary">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
                    <title>Stockholm-icons / Media / Repeat</title>
                    <desc>Created with Sketch.</desc>
                    <g id="Stockholm-icons-/-Media-/-Repeat" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" id="Combined-Shape" fill="#335EEA"></path>
                        <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" id="Combined-Shape" fill="#335EEA" opacity="0.3"></path>
                    </g>
                </svg>
              </div>

              <div class="ml-5">
                
                <!-- Heading -->
                <h4 class="mb-1">
                  Bootstrap users since the beginning
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6">
                  We've been developing with Bootstrap since it was publicly released in 2011.
                </p>

              </div>

            </div>
            <div class="d-flex">
                
              <!-- Icon -->
              <div class="icon text-primary">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
                    <title>Stockholm-icons / Code / Code</title>
                    <desc>Created with Sketch.</desc>
                    <g id="Stockholm-icons-/-Code-/-Code" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path d="M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z" id="Combined-Shape" fill="#335EEA"></path>
                        <rect id="Rectangle-28" fill="#335EEA" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) " x="11" y="4" width="2" height="16" rx="1"></rect>
                    </g>
                </svg>
              </div>

              <div class="ml-5">
                
                <!-- Heading -->
                <h4 class="mb-1">
                  Deep understanding of Bootstrap
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  We've watched Bootstrap grow up over the years and understand it better than almost anyone.
                </p>

              </div>

            </div>

          </div>
          <div class="col-12 col-md-5 col-lg-6">

            <div class="w-md-150 w-lg-130 position-relative" data-aos="fade-left">

              <!-- Shape -->
              
              
              <!-- Image -->
              <div class="img-skewed img-skewed-left">

                <!-- Image -->
                <img src="assets/img/screenshots/desktop/dashkit.jpg" class="screenshot img-fluid img-skewed-item" alt="...">
                
              </div>
              
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

   
                 
    <!-- CTA
    ================================================== -->
    <section class=" mt-12 py-8 py-md-11 bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge badge-pill badge-gray-700-soft mb-4">
              <span class="h6 font-weight-bold text-uppercase">Get started</span>
            </span>

            <!-- Heading -->
            <h1 class="display-4 text-white">
              Get Landkit and save your time.
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-8">
              Stop wasting time trying to do it the "right way" and build a site from scratch. Landkit is faster, easier, and you still have complete control.
            </p>

            <!-- Button -->
            <a href="#!" class="btn btn-success lift">
              Buy it now <i class="fe fe-arrow-right"></i>
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor"/>
        </svg>

      </div>
    </div>


    {{> footer}}
</body>
</html>

