<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>
<body>
    {{> header }}

     <section class="border-bottom">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-6 offset-md-1 order-md-2">

            <!-- Slider (mobile) -->
            <div class="d-md-none img-cover" data-flickity='{"imagesLoaded": true, "wrapAround": true, "prevNextButtons": false, "pageDots": false}'>
                {{!-- <img src="images/cover-4.jpg" alt=""> --}}
              <div class="w-100">
                <!-- Image -->
                <img src="images/cover-13.jpg" alt="..." class="img-fluid">
              </div>

              <div class="w-100">
                <!-- Image -->
                <img src="images/cover-6.jpg" alt="..." class="img-fluid">
              </div>
            </div>

            <!-- Slider -->
            <div class="position-relative h-100 vw-50 d-none d-md-block" data-aos="fade-left">
              <!-- Slider -->
              <div class="flickity-button-bottom flickity-button-white h-100 w-100" data-flickity='{"imagesLoaded": true, "setGallerySize": false, "wrapAround": true, "pageDots": false}'>
                <div class="w-100 h-100 bg-cover" style="background-image: url('images/cover-9.jpg');"></div>
                <div class="w-100 h-100 bg-cover" style="background-image: url('images/cover-13.jpg');"></div>
              </div>
  
              <!-- Shape -->
              <div class="shape shape-left shape-fluid-y svg-shim text-white">
                <svg viewBox="0 0 50 772" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                <path d="M0 0H50L0 772V0Z" fill="currentColor"/>
                </svg>

              </div>

            </div>

          </div>
          <div class="col-12 col-md-5 py-8 py-md-14 order-md-1" data-aos="fade-right">
            
            <!-- Heading -->
            <h1 class="display-3">
             KodeHauz Hub Built For <span style="color: #ffae00">Startups.</span>
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-6 mb-md-8">
              Great Working Environment and Resources to Enable You Achieve Your Tech Dreams.
            </p>

             <!-- Buttons -->
          <div class="text-center text-md-left">
            <a href="/training_registration" class="btn text-white shadow lift mr-1"  style="background-color: #ffae00;">
              Get Started<i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
            </a>
          </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- FLEXIBILITY
    ================================================== -->
    <section class="pt-8 pt-md-11 bg-gradient-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge badge-pill badge-warning-soft mb-3">
              <span class="h6 text-uppercase">Accomodating</span>
            </span>

            <!-- Heading -->
            <h1>
              Spaces For Everyone
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
              No matter what size your team, we have a solution.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-4" data-aos="fade-up">
            
            <!-- Card -->
            <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
              
              <!-- Image -->
              <img src="images/photo-4.jpg" alt="..." class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor"/>
                  </svg>

                </div>
              </div>

              <!-- Body -->
              <div class="card-body position-relative">                
                <!-- Heading -->
                <h3>
                  Shared Coworking
                </h3>

                <!-- Text -->
                <p class="text-muted">
                  Open seating is available weekdays from 7am - 7pm and weekends from 9am - 5pm.
                </p>
              </div>
            </div>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
            
            <!-- Card -->
            <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
              
              <!-- Image -->
              <img src="images/photo-2.jpg" alt="..." class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor"/>
                  </svg>

                </div>
              </div>

              <!-- Body -->
              <div class="card-body position-relative">
                <!-- Heading -->
                <h3>
                  Designated Desk
                </h3>

                <!-- Text -->
                <p class="text-muted">
                  A personal space to leave your computer, monitor, and supplies with unlimited access.
                </p>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
            
            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">
              
              <!-- Image -->
              <img src="images/cover-6.jpg" alt="..." class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor"/>
                  </svg>

                </div>
              </div>

              <!-- Body -->
              <div class="card-body position-relative">
                <!-- Heading -->
                <h3>
                  Conference Hall
                </h3>

                <!-- Text -->
                <p class="text-muted">
                  No matter what size your team, we have a solution. Able to hold conferences for 250 persons.
                </p>
              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SCALABLE
    ================================================== -->
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 order-md-2">
            
            <!-- Image -->
            <img src="images/illustration-1.png" alt="..." class="img-fluid mb-6 mb-md-0">

          </div>
          <div class="col-12 col-md-6 order-md-1">
            
            <!-- Badge -->
            <span class="badge badge-pill badge-primary-soft mb-3">
              <span class="h6 text-uppercase">Scalable</span>
            </span>

            <!-- Heading -->
            <h2>
              Flexible office space means <br>
              <span class="text-primary">growing your team is easy</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-6 mb-md-6">
              Rather than worrying about switching offices every couple years, you can instead stay in the same location and grow-up from your shared coworking space to an office that takes up an entire floor.
            </p>

            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">
                
                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <!-- Text -->
                  <p>
                    Add space anytime
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <p class="mb-lg-0">
                    Group discounts
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </span>
                  
                  <!-- Text -->
                  <p>
                    Infinite flexibility
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-primary-soft mr-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <!-- Text -->
                  <p class="mb-0">
                    Snacks included
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

   <!-- CTA
    ================================================== -->
  <section class="  py-8 py-md-11" style="background-color: #ffae00;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Badge -->
          <span class="badge badge-pill text-white badge-gray-700-soft mb-4">
            <span class="h6 font-weight-bold text-uppercase">Get started</span>
          </span>

          <!-- Heading -->
          <h1 class="display-4 text-white">
            Become A KodeHauz Hub Member and Fulfill Your Dreams
          </h1>

          <!-- Text -->
          <p class="font-size-lg  mb-6 mb-md-8">
            Get access to unlimited <strong>Resouces & Mentorship</strong> while you build Your Career.
          </p>

          <!-- Button -->
          <a href="/training_registration" class="btn btn-success lift">
            Click Me!!<i class="fe fe-arrow-right"></i>
          </a>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- SHAPE
    ================================================== -->
  <div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
      <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor" />
      </svg>

    </div>
  </div>

    {{> footer }}
</body>
</html>