<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="libs/jarallax/dist/jarallax.css">
	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<style>
		
.navbar-light .navbar-nav .nav-link {
    color: #031546 !important;
}
	</style>
</head>

<body>
	

	{{!-- <div style="background-image: url("images/cover-4.jpg")"> --}}


	</div>
	<!-- WELCOME
	    ================================================== -->
	<section data-jaralax="" data-speed="1.0"  style="background-image: url(images/cover-3.jpg); z-index: -40; background-repeat: no-repeat; background-size: 100% 100%;">
		{{> header }}
		<div class="container pt-12 pb-10 pt-md-15 pb-md-14">
			<div class="row align-items-center">
				<div class="col-12 col-md-8 col-lg-6">
	
					<!-- Heading -->
					<h1 class="display-3 font-weight-bold text-white" id="welcomeHeadingSource">
						Train The Trainers Features <br />
						<span style="color: #ffae00;" data-toggle="typed"
							data-strings='["Web Developement.", "Mobile App Development.", "Computer Science.", "Online Digital Marketing.", "Office Development Tools."]'></span>
					</h1>
	
					<!-- Text -->
					<p class="font-size-lg text-white-80 mb-6">
						We have a vision of Training 3000 Developers by 2022 & Training The Trainers was adoption to achieve this vision.
					</p>

					<!-- Buttons -->
					<div class="text-center text-md-left">
						<a href="/training_registration" class="btn text-white shadow lift mr-1" style="background-color: #ffae00;">
							Get Started<i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
						</a>
					</div>
					
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<section class="container mb-12 mt-6">
		<h1 style="; font-size: 3.1em;" class="py-9 text-center text-primary">Departments<h1></h1>
		<div class="row">
			
			<div class="col-12 col-md-6 col-lg-4">
		
				<!-- Card -->
				<div class="card card-border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
					<div class="card-body text-center">
		
						<!-- Icon -->
						<div class="icon-circle bg-primary text-white mb-5">
							<i class="fe fe-code"></i>
						</div>
		
						<!-- Heading -->
						<h4 class="font-weight-bold">
							Web Developement
						</h4>
		
						<!-- Text -->
						<p class="text-gray-700 mb-5">
							We Train you to build Websites for the next Billion Users.
						</p>
		
						<!-- Badge -->
						<span class="badge badge-pill badge-dark-soft">
							<span class="h6 text-uppercase">
								7 entries
							</span>
						</span>
		
					</div>
				</div>
		
			</div>
			<div class="col-12 col-md-6 col-lg-4">
		
				<!-- Card -->
				<div class="card card-border border-success shadow-lg mb-6 mb-md-8 lift lift-lg">
					<div class="card-body text-center">
		
						<!-- Icon -->
						<div class="icon-circle bg-success text-white mb-5">
							<i class="fe fe-usb"></i>
						</div>
		
						<!-- Heading -->
						<h4 class="font-weight-bold">
							Mobile App Development
						</h4>
		
						<!-- Text -->
						<p class="text-gray-700 mb-5">
							We Train and build Trainers to become Andriod experts.	
						</p>
		
						<!-- Badge -->
						<span class="badge badge-pill badge-dark-soft">
							<span class="h6 text-uppercase">
								5 entries
							</span>
						</span>
		
					</div>
				</div>
		
			</div>
			<div class="col-12 col-md-6 col-lg-4">
		
				<!-- Card -->
				<div class="card card-border border-warning shadow-lg mb-6 mb-md-8 lift lift-lg">
					<div class="card-body text-center">
		
						<!-- Icon -->
						<div class="icon-circle bg-warning text-white mb-5">
							<i class="fe fe-activity"></i>
						</div>
		
						<!-- Heading -->
						<h4 class="font-weight-bold">
							Online Digital Marketing
						</h4>
		
						<!-- Text -->
						<p class="text-gray-700 mb-5">
							Training You to Become A Professional Digital Marketer
						</p>
		
						<!-- Badge -->
						<span class="badge badge-pill badge-dark-soft">
							<span class="h6 text-uppercase">
								0 entries
							</span>
						</span>
		
					</div>
				</div>
		
			</div>
			<div class="col-12 col-md-6 col-lg-4">
		
				<!-- Card -->
				<div class="card card-border border-dark shadow-lg mb-6 mb-md-8 mb-lg-0 lift lift-lg">
					<div class="card-body text-center">
		
						<!-- Icon -->
						<div class="icon-circle bg-dark text-white mb-5">
							<i class="fab fa-microsoft "></i>
						</div>
		
						<!-- Heading -->
						<h4 class="font-weight-bold">
							Computer Science
						</h4>
		
						<!-- Text -->
						<p class="text-gray-700 mb-5">
							Setting up and managing collections of users.
						</p>
		
						<!-- Badge -->
						<span class="badge badge-pill badge-dark-soft">
							<span class="h6 text-uppercase">
								2 entries
							</span>
						</span>
		
					</div>
				</div>
		
			</div>
			<div class="col-12 col-md-6 col-lg-4">
		
				<!-- Card -->
				<div class="card card-border border-danger shadow-lg mb-6 mb-md-0 lift lift-lg">
					<div class="card-body text-center">
		
						<!-- Icon -->
						<div class="icon-circle bg-danger text-white mb-5">
							<i class="fe fe-feed"></i>
						</div>
		
						<!-- Heading -->
						<h4 class="font-weight-bold">
							Office Productivity Tools
						</h4>
		
						<!-- Text -->
						<p class="text-gray-700 mb-5">
							Trainers That are Microsoft Office Tools Experts.
						</p>
		
						<!-- Badge -->
						<span class="badge badge-pill badge-dark-soft">
							<span class="h6 text-uppercase">
								0 entries
							</span>
						</span>
		
					</div>
				</div>
		
			</div>
		</div> <!-- / .row -->
	</section>

	<div class="position-relative">
		<div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
			<svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
				<path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor" />
			</svg>
		</div>
	</div>
	{{> footer }}

	<script src="libs/jarallax/dist/jarallax.min.js"></script>
	<script src="libs/jarallax/dist/jarallax-video.min.js"></script>
	<script src="libs/jarallax/dist/jarallax-element.min.js"></script>
</body>

</html>