

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    color: #242430;
    font-weight: 400;
}

.border {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 10px;
}

.main-secction {
    background-color: #e5e5e5;
}

.image-section {
    padding: 0px;
}

.image-section img {
    width: 100%;
    height: 300px;
    position: relative;
}

.user-image {
    position: absolute;
    margin-top: -90px;
}

.user-left-part {
    margin: 0px;
}

.user-image img {
    width: 150px;
    height: 150px;
}

.user-profil-part {
    padding-bottom: 30px;
    background-color: #FAFAFA;
}

.follow {
    margin-top: 70px;
}

.user-detail-row {
    margin: 0px;
}

.user-detail-section2 p {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.user-detail-section2 {
    margin-top: 10px;
}

.user-detail-section2 span {
    color: #7CBBC3;
    font-size: 20px;
}

.nav-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user-detail-section2 small {
    font-size: 12px;
    color: #D3A86A;
}

.profile-right-section {
    padding: 20px 0px 10px 15px;
    background-color: #FFFFFF;
}

.profile-right-section-row {
    margin: 0px;
}

.profile-header-section1 h1 {
    font-size: 25px;
    margin: 0px;
}

.profile-header-section1 h5 {
    color: #0062cc;
}

.req-btn {
    height: 30px;
    font-size: 12px;
}

.profile-tag {
    padding: 10px;
    border: 1px solid #F6F6F6;
}

.profile-tag p {
    font-size: 12px;
    color: black;
}

.profile-tag i {
    color: #ADADAD;
    font-size: 20px;
}

.image-right-part {
    background-color: #FCFCFC;
    margin: 0px;
    padding: 5px;
}

.img-main-rightPart {
    background-color: #FCFCFC;
    margin-top: auto;
}

.image-right-detail {
    padding: 0px;
}

.image-right-detail p {
    font-size: 12px;
}

.image-right-detail a:hover {
    text-decoration: none;
}

.image-right img {
    width: 100%;
}

.image-right-detail-section2 {
    margin: 0px;
}

.image-right-detail-section2 p {
    color: rgb(0, 12, 177);
    margin: 0px;
}

.image-right-detail-section2 span {
    color: #7F7F7F;
}

.nav-link {
    font-size: 1.2em;
}

.tab_show{
    display: none;
}

@media only screen and (max-width: 750px) {
    .tab_show {
        display: flex;
        justify-content: center;
    }

    .tab_no{
        display: none;
    }
}