.ds{
    background-color: #fefefe;
    color: #eee8e8;
}
.logo-text{
    font-size: 14px;
}
.toggle_menu{
    color: #5e5e5e;
}
.page_footer{
    background-color: #2a323c;
}
.page_copyright{
    border-top: 1px solid rgb(204, 204, 204);
}
.ms{
    background-color: rgb(157, 247, 157);
}
.advert-content{
    background-color: #e3e2e8;
}
#video{
    background-color: #e3e2e8;
    padding: 0px;
    height: 400px;
}
.thumbnail-container-img{
    /* height: 100%; */
}
.btn-maincolor{
    margin-top: 18px;
}
.fw-700 a{
    color: #004a97;
}


@media (max-width: 767px) {
    #video{
        height: 500px;
    }
    
}
@media (max-width: 990px) {
    .msg-overlay{
        font-size: 18px;
    }
}