<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    {{!-- {{> header }} --}}
    <div class="py-4">
        <a href="/">
            <img src="images/kode-logo.png" alt="" srcset="">
        </a>
    </div>
   
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/admin/signup" method="POST">
                <h1>Create Account</h1>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" name="full_name" />
                <input type="email" placeholder="Email"  name="email"/>
                <input type="password" placeholder="Password"  name="password"/>
                <button type="submit" onclick="changeRelay()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/admin/login" method="POST">
                <h1>Sign in</h1>
                <span>or use your account</span>
                <input type="email" placeholder="Email" name="email"/>
                <input type="password" placeholder="Password" name="password" />
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Admin!</h1>
                    <p>Enter your personal details and start journey to this Portal</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () =>
    container.classList.add('right-panel-active'));

    signInButton.addEventListener('click', () =>
    container.classList.remove('right-panel-active'));

    function changeRelay() {
        container.classList.add('right-panel-active')
    }
</script>
</body>

</html> 