body,
a {
	font-family: "Nunito Sans", sans-serif;
}
#userDashboardHeader {
	margin-bottom: 59px;
}
.dropdown > .dropdown-menu {
	top: 200%;
	transition: 0.3s all ease-in-out;
}
.dropdown:hover > .dropdown-menu {
	display: block;
	top: 100%;
}

.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
.pd-1-11 {
	padding: 1px 11px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: rgb(255, 43, 43);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 43, 43);
}
.navbar-nav a {
	text-transform: uppercase;
	font-weight: 800;
}
.active-li a {
	color: #ff2b2b;
}
.active-li:after {
	border-bottom: 1px solid;
}

.text {
	font-size: 16px;
}
#sidebar {
	position: fixed;
	width: 248px;
	height: 100%;
	background: #000;
}

.navbar {
	padding: 0 50px;
}
.navbar-brand img {
	width: 100px;
}
@media (min-width: 900px) {
	.content {
		margin-left: 269px;
		margin-right: 67px;
	}
	.nav-sidebar {
		top: 13px;
		position: relative;
		left: 52px;
	}
}
.text {
	padding: 9px 13px;
}
.nav-item img {
	border-radius: 50%;
}
.profile-drop {
	min-width: 8em;
	margin: 0;
}
.color-cc {
	color: rgba(0, 0, 0, 0.5);
}
.nav-sidebar > .nav-item a {
	color: #fff;
	width: max-content;
}
.nav-sidebar > .nav-item a:hover {
	-webkit-transition: 2s;
	color: #ff2b2b;
	margin-left: 6px;
}

.profile-drop a:hover {
	color: #ff2b2b;
	background: none;
	-webkit-transition: 2s;
	margin-left: 5px;
}
.dropdown-item.active,
.dropdown-item:active {
	background: none;
}
.content {
	padding-top: 21px;
}
.dashboard-content-holder h3 {
	font-weight: bold;
	color: #ff2b2b;
}

.dashboard-content-holder {
	line-height: 0;
	color: #ccc;
}

.dash-home a {
	color: #ff2b2b !important;
}
.mb-3 {
	margin-bottom: 3em;
}
.card-1 {
	padding: 6px 11px;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	box-shadow: 0px 1px 3px 0px #b1b3b1f7;
	border: none;
	margin-bottom: 12px;
	min-height: 100%;
	margin-top: 30px;
}
.card-i {
	padding: 12px 0px 14px 0px;
	color: #ff2b2b;
	font-weight: bold;
	font-size: 31px;
}
.card-1 h5 {
	margin: 0;
	font-weight: bold;
}
.card-1 p {
	color: rgb(134, 131, 131);
}
.card-1 span {
	font-size: 20px;
	font-weight: 900;
}
.deliver-table p {
	font-weight: 900;
	color: #ff2b2b;
	font-size: 20px;
}

.mobile-nav {
	font-size: 23px;
	cursor: pointer;
	margin-top: 23px;
}
@media (min-width: 900px) {
	.dashboard-mobile {
		display: none;
	}
	.hidden-lg {
		display: none;
	}
}
@media (max-width: 900px) {
	#sidebar {
		/* display:none; */
	}

	.nav-link {
		padding: .5rem 0rem;
	}
	.content {
		padding: 14px 43px;
	}
}

.nav-item {
	width: max-content;
}
.activity-log span {
	color: #000;
	padding-right: 30px;
	font-size: 16px;
}
.activity-log h5 {
	color: #ff2b2b;
}
.color-red {
	color: #ff2b2b;
	font-weight: bold;
}
.no-toggle-arrow::after {
	border: none !important;
}
.no-toggle-arrow {
	padding: 0px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.activity-log p {
	margin: 0px;
}
.dashboard-footer {
	background: #f8f9fa;
	text-align: center;
	color: #000;
	margin: 0;
	padding: 11px 3px 1px 9px;
	margin-top: 90px;
}
@media (max-width: 900px) {
	.hidden-sm {
		display: none;
	}
}

@media (max-width: 900px) {
	.togle-btn {
		/* position: absolute; */
		left: 305px;
		top: 20px;
		background: none;
		color: #000;
		width: 30px;
		border: 1px solid #ccc;
		padding: 2px 9px;
		margin-top: 17px;
		margin-right: 13px;
	}

	#sidebar .togle-btn span {
		display: block;
		width: 30px;
		height: 5px;
		background: #000;
		margin: 3px 0 19px 7px;
	}

	#sidebar.active {
		left: 0;
	}
	#sidebar {
		position: fixed;
		width: 248px;
		height: 100%;
		background: #000;
		left: -248px;
		transition: all 500ms linear;
		z-index: 9;
	}
	.upnav-navbar-nav {
		display: flex !important;
		flex-direction: inherit;
	}
	.nav-item {
		padding-left: 9px;
	}
	.navbar {
		padding: 0 91px;
	}
}
@media (max-width: 700px) {
	.navbar {
		padding: 0px 58px;
	}
	.hidden-sm {
		display: none !important;
	}
}
.avatar {
	object-fit: cover;
	height: 200px;
}
input[type="file"] {
	color: transparent;
}
.h4,
h4 {
	font-size: 1.2rem;
}

.locat-input-dashboard {
	display: flex;
}
.btn-danger {
	background: #ff2b2b;
	padding: 4px 22px;
	border: 1px solid #ff2b2b;
}
.bg-blackForm {
	width: 50%;
	background: #000;
	text-align: center;
	padding-top: 4px;
	border-radius: 4px;
	color: #fff;
}
.bg-dangerForm {
	width: 50%;
}
.pagination {
	display: inline-flex !important;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
	background: #ff2b2b;
}
.pagination li.active a:hover {
	background: #ff2b2b;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px;
}
.clearfix .hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}
.avatar-profile {
	width: 30px;
	height: 30px;
	margin-right: 3px;
}
.user-section i {
	color: #ff2b2b;
	margin-right: 6px;
}

/* admin login and signup */
.signup-container {
	border: 1px solid #fff;
	box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	height: 600px;
	margin: 50px 50px;
}

.loginlink-section {
	/* background: linear-gradient(45deg, black, #ff2b2b); */
	/* background-color: #f8002f; */

	background-image: linear-gradient(326deg, #000c14 69%, #ff2b2b 0%);
	padding: 220px 30px;
	height: 600px;
	text-align: center;
	position: relative;
	color: #fff;
	border-radius: 6px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.round-btn {
	border: 1px solid #fff;
	border-radius: 50px;
	background: #dc3545;
	padding: 7px 30px;
	color: #fff;
}

.round-btn:hover {
	background: #fff;
	color: #000;
}

.admin-signup {
	padding: 70px 30px;
}

.admin-login h1,
.admin-signup h1 {
	padding: 15px 0;
	color: #ff2b2b;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.admin-login {
	padding: 100px 40px;
}

.admin-greeting {
	background-image: linear-gradient(326deg, #000c14 71%, #ff2b2b 0%);
	padding: 220px 30px;
	text-align: center;
	position: relative;
	color: #fff;
	height: 600px;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* end of admin login and signup */

/* place order */

select {
	padding: .375rem .75rem;
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-title {
	color: #ff2b2b;
}

.admin-logo {
	display: flex;
}
.invoice-payment h5 {
	margin: 0;
	font-weight: 900;
	font-size: 25px;
}
.invoice-payment span {
	font-weight: 700;
	font-size: 14px;
}
.invoice-payment h5 {
	font-size: 16px;
}
.invoice-payment h3 {
	font-weight: 900;
	font-size: 25px;
}

.color-hash {
	color: #807e7e;
}
.mt-8 {
	margin-top: 5rem;
}
#adminDashboardHeader {
	margin-bottom: 59px;
}
@media (min-width: 900px) {
	.lag-width {
		width: 80%;
		margin: 0 auto;
	}
}
@media (min-width: 1200px) {
	.dashboard-footer {
		background: #f8f9fa;
		text-align: right;
		color: #000;
		margin: 0;
		padding: 11px 3px 1px 9px;
	}
	.dashboard-content-text {
		max-width: 1175px;
	}
}
.mt-8 {
	margin-top: 8rem;
}

.nav-sidebar > .nav-link.active {
	color: rgb(255, 43, 43);
}
a,
a:hover {
	color: #ff2b2b;
	text-decoration: none;
}
.active {
	color: #ff2b2b !important;
}
body,
a {
	font-family: "Nunito Sans", sans-serif;
}
#userDashboardHeader {
	margin-bottom: 59px;
}
.dropdown > .dropdown-menu {
	top: 200%;
	transition: 0.3s all ease-in-out;
}
.dropdown:hover > .dropdown-menu {
	display: block;
	top: 100%;
}

.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
.pd-1-11 {
	padding: 1px 11px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: rgb(255, 43, 43);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 43, 43);
}
.navbar-nav a {
	text-transform: uppercase;
	font-weight: 800;
}
.active-li a {
	color: #ff2b2b;
}
.active-li:after {
	border-bottom: 1px solid;
}

.text {
	font-size: 16px;
}
#sidebar {
	position: fixed;
	width: 248px;
	height: 100%;
	background: #000;
}

.navbar {
	padding: 0 50px;
}
.navbar-brand img {
	width: 100px;
}
@media (min-width: 900px) {
	.content {
		margin-left: 269px;
		margin-right: 67px;
	}
	.nav-sidebar {
		top: 13px;
		position: relative;
		left: 52px;
	}
}
.text {
	padding: 9px 13px;
}
.nav-item img {
	border-radius: 50%;
}
.profile-drop {
	min-width: 8em;
	margin: 0;
}
.color-cc {
	color: rgba(0, 0, 0, 0.5);
}
.nav-sidebar > .nav-item a {
	color: #fff;
	width: max-content;
}
.nav-sidebar > .nav-item a:hover {
	-webkit-transition: 2s;
	color: #ff2b2b;
	margin-left: 6px;
}

.profile-drop a:hover {
	color: #ff2b2b;
	background: none;
	-webkit-transition: 2s;
	margin-left: 5px;
}
.dropdown-item.active,
.dropdown-item:active {
	background: none;
}
.content {
	padding-top: 21px;
}
.dashboard-content-holder h3 {
	font-weight: bold;
	color: #ff2b2b;
}

.dashboard-content-holder {
	line-height: 0;
	color: #ccc;
}

.dash-home a {
	color: #ff2b2b !important;
}
.mb-3 {
	margin-bottom: 3em;
}
.card-1 {
	padding: 6px 11px;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	box-shadow: 0px 1px 3px 0px #b1b3b1f7;
	border: none;
	margin-bottom: 12px;
	min-height: 100%;
	margin-top: 30px;
}
.card-i {
	padding: 12px 0px 14px 0px;
	color: #ff2b2b;
	font-weight: bold;
	font-size: 31px;
}
.card-1 h5 {
	margin: 0;
	font-weight: bold;
}
.card-1 p {
	color: rgb(134, 131, 131);
}
.card-1 span {
	font-size: 20px;
	font-weight: 900;
}
.deliver-table p {
	font-weight: 900;
	color: #ff2b2b;
	font-size: 20px;
}

.mobile-nav {
	font-size: 23px;
	cursor: pointer;
	margin-top: 23px;
}
@media (min-width: 900px) {
	.dashboard-mobile {
		display: none;
	}
	.hidden-lg {
		display: none;
	}
}
@media (max-width: 900px) {
	#sidebar {
		/* display:none; */
	}

	.nav-link {
		padding: .5rem 0rem;
	}
	.content {
		padding: 14px 43px;
	}
}

.nav-item {
	width: max-content;
}
.activity-log span {
	color: #000;
	padding-right: 30px;
	font-size: 16px;
}
.activity-log h5 {
	color: #ff2b2b;
}
.color-red {
	color: #ff2b2b;
	font-weight: bold;
}
.no-toggle-arrow::after {
	border: none !important;
}
.no-toggle-arrow {
	padding: 0px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.activity-log p {
	margin: 0px;
}
.dashboard-footer {
	background: #f8f9fa;
	text-align: center;
	color: #000;
	margin: 0;
	padding: 11px 3px 1px 9px;
	margin-top: 90px;
}
@media (max-width: 900px) {
	.hidden-sm {
		display: none;
	}
}

@media (max-width: 900px) {
	.togle-btn {
		/* position: absolute; */
		left: 305px;
		top: 20px;
		background: none;
		color: #000;
		width: 30px;
		border: 1px solid #ccc;
		padding: 2px 9px;
		margin-top: 17px;
		margin-right: 13px;
	}

	#sidebar .togle-btn span {
		display: block;
		width: 30px;
		height: 5px;
		background: #000;
		margin: 3px 0 19px 7px;
	}

	#sidebar.active {
		left: 0;
	}
	#sidebar {
		position: fixed;
		width: 248px;
		height: 100%;
		background: #000;
		left: -248px;
		transition: all 500ms linear;
		z-index: 9;
	}
	.upnav-navbar-nav {
		display: flex !important;
		flex-direction: inherit;
	}
	.nav-item {
		padding-left: 9px;
	}
	.navbar {
		padding: 0 91px;
	}
}
@media (max-width: 700px) {
	.navbar {
		padding: 0px 58px;
	}
	.hidden-sm {
		display: none !important;
	}
}
.avatar {
	object-fit: cover;
	height: 200px;
}
input[type="file"] {
	color: transparent;
}
.h4,
h4 {
	font-size: 1.2rem;
}

.locat-input-dashboard {
	display: flex;
}
.btn-danger {
	background: #ff2b2b;
	padding: 4px 22px;
	border: 1px solid #ff2b2b;
}
.bg-blackForm {
	width: 50%;
	background: #000;
	text-align: center;
	padding-top: 4px;
	border-radius: 4px;
	color: #fff;
}
.bg-dangerForm {
	width: 50%;
}
.pagination {
	display: inline-flex !important;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
	background: #ff2b2b;
}
.pagination li.active a:hover {
	background: #ff2b2b;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px;
}
.clearfix .hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}
.avatar-profile {
	width: 30px;
	height: 30px;
	margin-right: 3px;
}
.user-section i {
	color: #ff2b2b;
	margin-right: 6px;
}

/* admin login and signup */
.signup-container {
	border: 1px solid #fff;
	box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	height: 600px;
	margin: 50px 50px;
}

.loginlink-section {
	/* background: linear-gradient(45deg, black, #ff2b2b); */
	/* background-color: #f8002f; */

	background-image: linear-gradient(326deg, #000c14 69%, #ff2b2b 0%);
	padding: 220px 30px;
	height: 600px;
	text-align: center;
	position: relative;
	color: #fff;
	border-radius: 6px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.round-btn {
	border: 1px solid #fff;
	border-radius: 50px;
	background: #dc3545;
	padding: 7px 30px;
	color: #fff;
}

.round-btn:hover {
	background: #fff;
	color: #000;
}

.admin-signup {
	padding: 70px 30px;
}

.admin-login h1,
.admin-signup h1 {
	padding: 15px 0;
	color: #ff2b2b;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.admin-login {
	padding: 100px 40px;
}

.admin-greeting {
	background-image: linear-gradient(326deg, #000c14 71%, #ff2b2b 0%);
	padding: 220px 30px;
	text-align: center;
	position: relative;
	color: #fff;
	height: 600px;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* end of admin login and signup */

/* place order */

select {
	padding: .375rem .75rem;
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-title {
	color: #ff2b2b;
}

.admin-logo {
	display: flex;
}
.invoice-payment h5 {
	margin: 0;
	font-weight: 900;
	font-size: 25px;
}
.invoice-payment span {
	font-weight: 700;
	font-size: 14px;
}
.invoice-payment h5 {
	font-size: 16px;
}
.invoice-payment h3 {
	font-weight: 900;
	font-size: 25px;
}

.color-hash {
	color: #807e7e;
}
.mt-8 {
	margin-top: 5rem;
}
#adminDashboardHeader {
	margin-bottom: 59px;
}
@media (min-width: 900px) {
	.lag-width {
		width: 80%;
		margin: 0 auto;
	}
}
@media (min-width: 1200px) {
	.dashboard-footer {
		background: #f8f9fa;
		text-align: right;
		color: #000;
		margin: 0;
		padding: 11px 3px 1px 9px;
	}
	.dashboard-content-text {
		max-width: 1175px;
	}
}
.mt-8 {
	margin-top: 8rem;
}

.nav-sidebar > .nav-link.active {
	color: rgb(255, 43, 43);
}
a,
a:hover {
	color: #ff2b2b;
	text-decoration: none;
}
.active {
	color: #ff2b2b !important;
}
